<h2>This asana is called {{name}}.</h2>
<h2>It primarily targets your {{primary_target}}.</h2>
<h2>It is recommended to stay in this asana for about {{duration}} minutes.</h2>
<h2>The difficulty of {{name}} is {{difficulty}}/5.</h2>
