<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{name}}</span>
                <h5><span class="asana-name">{{name}}</span> primarily targets your {{primary_target}}.</h5>
                <h5>It is recommended to stay in <span class="asana-name">{{name}}</span> for about {{duration}} minutes.</h5>
                <h5><span class="asana-name">{{name}}</span> is rated {{difficulty}}/5 in difficulty.</p>
            </div>
            <div class="card-action">
                <div class="row button-container">
                  <form class="" action="index.html" method="post">
                    <a href="/" class="waves-effect waves-light btn">Home</a>
                  </form>
                  <form class="edit-button" action="/{{id}}/edit" method="get">
                    <a href='/{{id}}/edit' class="waves-effect waves-light btn">Edit</a>
                  </form>
                  <form class="delete-button" action="/{{id}}" method="post">
                    <button class="waves-effect waves-light btn" type="submit" name="delete-button">Delete</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
